# ############################################################################ #
# #                          File Name: .gitignore                           # #
# #                          Author: Huaxiao Liang                           # #
# #                         Mail: hxliang666@qq.com                          # #
# #                         09/13/2025-Sat-16:17:04                          # #
# ############################################################################ #

.vim
*.cmd.*
*.log.*
